@font-face { font-family: 'Pretendard-Regular'; src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff'); font-weight: 400; font-style: normal; }

@font-face { font-family: 'ELAND_Nice_M'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Nice_M.woff') format('woff'); font-weight: normal; font-style: normal; }
* {
    font-family: 'Pretendard-Regular';
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

button {
	cursor: pointer;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.detailtitle {
	margin-top: 5px;
	overflow: hidden;
	color: var(--gr-black, #222);
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 22px;
	font-family: Pretendard;
	font-weight: 700;
	/* line-height: 20px; */
}
.detaillink {
	display: flex;
	/* height: 40px; */
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
    background: var(--gr-white, #FFF);

	color: var(--primary-blue, #30A2FF);
	text-align: center;
	font-size: 18px;
	font-family: Pretendard;
	font-weight: 700;
	line-height: 24px;

	text-decoration: none;
}
.marker {
	
	padding: 10px 15px 10px 15px;
	width: 280px;
	background: #FFF;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20);
}
.desc {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	margin-top: 10px;
}
.bAddr {
	padding: 5px 5px 5px 5px;
	width: 280px;
	background: #FFF;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20);
}

.body {
	margin-top: 10px;
}

.detaillink {
	margin-top: 18px;
	margin-bottom: 10px;
}